<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span *ngFor="let item of menuItems" class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Angular2 Class</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">               
                <li *ngFor="let item of menuItems" routerLinkActive="router-link-active">
                    <a [routerLink]="item.link" class="nav-link" routerLinkActive="router-link-active" href="">{{item.caption}}</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>